fastapi==0.110.0
uvicorn[standard]==0.27.1
sqlalchemy==2.0.28
alembic==1.13.1
pydantic>=2.6.3
pydantic-settings>=2.2.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
langchain>=0.1.12
langchain-community>=0.0.28
langchain-core>=0.1.31
langsmith>=0.1.22
mistralai==0.4.2
sentence-transformers==2.5.1
PyMuPDF==1.23.22
faiss-cpu==1.7.4
chromadb==0.6.1

docx2txt==0.8
PyPDF2==3.0.1
python-pptx==0.6.23
spacy==3.7.4
numpy==1.26.4
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic[email]==2.6.3
python-multipart==0.0.9
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl
python-docx>=0.8.11
